:root {
  --max-width: 1400px;
  --border-radius: 12px;
}

*::before,
*::after{
   box-sizing: border-box;
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{

max-width: 100vw;
height: 100svh;
overflow-x: hidden;
overflow-y: auto ;
}
/* body {
 display: block;

  overflow-x: hidden;
} */



body {

  /* position: fixed; */
  max-width: 100vw;
  height: 100%;


  overflow-y: auto ;
  overflow-x: hidden;

  margin: 0 ;
  padding: 0;
  background-image: url(/images/body.jpg);
  /* background-image: url(/images/body.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Inter";

}

